*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}
.header div{
    border-style: dashed;
}
.header{
    grid-area: 1/2/span 1/span 2;
}
.sidebar{
    grid-area: 1/1/span 2/ span 1;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    background-color: rgb(170, 224, 255);
    
}
.sidebar img{
    height: 15px;
    width: auto;
    padding-right: 10px;
}
.sidebar a{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: black;
}
.sidebar-logo{
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: 50px 150px;
    grid-template-rows: 1fr;
    justify-content: end;
    align-items: center;
}
.sidebar-logo img{
    height: 30px;
    width: auto;
}
.sidebar-logo p{
    font-size: larger;
    font-weight: bolder;
}
.sidebar-upper{
    grid-row: 2/span 1;
    height: auto;
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: 150px;
    justify-content: center;
    padding-top: 50px;
}
.sidebar-lower{
    grid-row: 3/4;
    display: grid;
    grid-template-rows:  repeat(3, 50px);
    grid-template-columns: 150px;
    justify-content: center;
    padding-top: 50px;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
}
.header form{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: flex-start;
}
.header-top-right{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-welcome{
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.header-welcome img{
    grid-column: 1/2;
}
.header-welcome p{
    grid-column: 2/3;
}
.header input{
    width: 95%;
}
.button-wrapper{
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
}
.dashboard h3{
    align-self: center;
    padding-left: 25px;
    
}

.project-wrapper,
.announcement-wrapper{
    gap: 20px;
    padding: 0px 20px 50px 20px;
}
.project-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px,600px));
    grid-template-rows: 30px repeat(3, minmax(200px, 1fr));
    
}
.project-wrapper h3{
    grid-area: 1/1/2/3;
    justify-self: left;
    padding-left: 0px;

}
h3{
    font-size: x-large;
}
.announcement-wrapper{
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 30px 1fr 50px 1fr;
}
.announcement-wrapper h3{
    padding-left: 0px;
}
.announcement-wrapper h3:nth-child(3){
    align-self: end;
}
.card,
.announcement-card,
.trending-card{
    border-style: none;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 2px 3px rgb(216, 216, 216);
}
.card{
    border-left: 10px solid;
    border-color: gold;
}
.announcement-card{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 10px;
}
.announcement-card div:not(:last-child){
    border-bottom: 1px solid;
}
.trending-card{
    display: grid;
    grid-template-columns: 50px 3fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}
button{
    width: 100px;
    height: 35px;
    color: white;
    background-color: rgb(53, 151, 196);
    border-radius: 20px;
    border: 0px;

}