*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}
div{
    border-style: dashed;
}
.header{
    grid-area: 1/2/span 1/span 2;
}
.sidebar{
    grid-area: 1/1/span 2/ span 1;
    display: grid;    
    grid-template-rows: 1fr 1fr;
}
.sidebar-upper{
    grid-row: 1/span 1;
    display: grid;
    grid-template-rows: 2fr repeat(7, 1fr);
    justify-content: space-between;
    align-items: center;
}
.sidebar-upper p{
    align-self: start;
}
.sidebar-lower{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-row: 2/3;
}